@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}
@font-face {
  font-family: myFirstFont;
  src: url(./pirulen\ rg.otf);
}
body {
  padding: 0rem 1rem;
  background-color: #0b001a;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url(./Container\ --\ 1.webp);
}
.btn {
  color: #ffffff;
  background-color: #1e0044;
  border-radius: 1rem;
  font-family: myFirstFont;
  font-size: .8rem;
  border: 1px solid #e9deff;
}
.btn:hover {
  box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.2);
}
.namef h1 {
  margin: -20px 40px;
  margin-top: 200px;
  width: 60%;
  background: -webkit-linear-gradient(#9c2ef5, #e9deff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "myFirstFont";
  font-size: 6rem;
}
.typewrite {
  text-decoration: none;
  color: rgb(206, 196, 212);
}
.namefc h2 {
  margin: 0px 38rem;
  margin-top: 10px;
  width: 30%;
  color: white;
  font-family: "myFirstFont";
  font-size: 2remx;
}
#homepage {

  background-image: url(./Artboard\ 1.webp);
  background-size: 100%;
  margin: 1rem 0rem 1rem 0rem;
  background-repeat: no-repeat;
  padding-top: 6px;
  background-color: #1e0044;
  border-radius: 25px;
  height: 95vh;
  /* background-image: url(./lineas@2x\ 1.png); */
}

.links {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}
.navbar {
  z-index: 5;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(2px);
}

.links a {
  list-style-type: none;
  text-decoration: none;
  color: #e9deff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: myFirstFont;
  font-size: 1rem;
  font-style: normal;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
  transition: 0.2s;
}

.links a:hover {
  transform: scale(1);
  font-weight: 600;
  text-shadow: #8f23e8 1px 2px 13x;
}

#secondary {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 30px 10px 30px;
}
.minicard {
  border-radius: 20px;
  width: 50%;
  height: auto;
  padding: 0px 80px;
  background-image: linear-gradient(93deg, #8338ec 10.4%, #9c2ef5 101.06%);
}

.minicard h1 {
  padding: 50px 0px 45px 0px;

  color: #fff;
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.minicard p {
  color: #fff;
  text-align: justify;
  padding-bottom: 20px 50px;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.minicard h2 {
  color: #e9deff;
  width: fit-content;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 800;
  border-radius: 19.169px;
  padding: 25px;
  border: 1px solid #e9deff;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.989);
}

button {
  text-decoration: none;
  color: #ffffff;
  background-color: #1e0044;
  border-radius: 1rem;
  font-family: Montserrat;
  font-size: .7rem;
  margin-top: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding: .6rem 1.3rem;
  border: 1px solid #e9deff;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.989);
}
button a {
  color: #ffffff;
  text-decoration: none;
}

 #aboutme {
  display: flex;
  justify-content: center;
  background-color: #e9deff;
  height: 32rem;
  align-content: center;
  /* margin-left: 20rem; */
  margin: 2rem 20rem 2rem 20rem;
  width: 60%;
  border-radius: 50px;
  box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.471);
}
.aboutme{
  border-radius: 50px;
  width: 100%;
  display: flex;;
flex-direction: row;
}

.projects{
  border-radius: 20px;
  width: fit-content;
  height: auto;
  background-image: linear-gradient(93deg, #8338ec 10.4%, #9c2ef5 101.06%);
  
}

.projects H1{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-size: 3rem;
  color: #e9deff;
}

#uppercard{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
}
#uppercard h2{
  margin: 2rem;
  color: #211212;
}
.card{
  margin-bottom: 2rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #aa8ee1;
  flex-direction: row;
  border-radius: .7rem;
  height: auto;
  flex-wrap: wrap;
  width: 25%;
  box-shadow: #000000;
}
.card img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.normal {
  position: absolute;
  padding: 3rem 3rem 0rem 3rem;
  margin-left: 3rem;
  color: #2f2e2f7f;
  font-family: Montserrat;
  font-size: 4rem;
  font-style: bold;
  font-weight: 800;
  text-transform: uppercase;
  width: fit-content;
}
.cursive {
  margin: 3.5rem 4rem 2rem 10rem;
  padding: 1rem 2rem 0rem 2rem;
 position: relative; 
  color: #370164;
  text-shadow: #9c2ef5 1px 0 3px;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 10px;
  font-family: "Cedarville Cursive", cursive;
  width: auto;
} 
 .name {
  width: fit-content;
  line-height: 87%;
  padding: 35px 50px 35px 50px;
  color: #5b1a91;
  font-family: Roboto;
  font-size: 120px;
  letter-spacing: -5px;
}

 #aboutme p {
  text-align: justify;
  color: #0b001a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 1rem;
  padding: 0rem 2rem 0rem 2rem;
  font-weight: 500;
}

.pfp img { 
  border-radius: 10%;
  margin: 1rem;
   width: 17rem;
}
.pfp {
  
  border: 1px solid #000000;
  border: #000000;
} 

.icodiv {
  position: relative;
  z-index: 1;
left: -12%;
  /* margin-top: 7rem; */
  z-index: 0;
  display: flex;
  justify-content: center;
  gap: .3rem;
  align-items: center;
  margin-right: 100%;
  flex-direction: column;
}

.icon {
  width: 1rem;
  height: auto;

}

.icon img {
  width: 50px;
  height: auto;
  transition: transform 0.2s;
}
.icon img:hover {
  box-shadow: 0px 0px 176px #5b1a91;
  transform: scale(1.2);
}
#edu {
  margin: 8rem 0rem 1rem 0rem;
  text-align: center;
  background-image: linear-gradient(#421977, #1e0044);
  border-radius: 20px ;
  height:fit-content;
  width: 50%;
  overflow: hidden;
  text-align: center;
}
.education{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#text{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/* #edu h1{
  background: -webkit-linear-gradient(#9c2ef5, #e9deff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: myFirstFont;
  font-size: 4rem;
  font-style: bold;
  font-weight: 800;
  text-transform: uppercase;
  width: fit-content;
} */

.x{z-index: 2;
  color:  #1e0044;
  width: fit-content;
  border: 1px solid #9c2ef5 ;
  background-color:  #e9deff;
  border-radius: 2px;
  -webkit-background-clip:border-box;
  margin: 35px;
  padding: 20px;

}

hr{
  position: relative;
  top: 90px;
  z-index: 1;
}

.techno{
  margin-top:8rem ;
  background-image: linear-gradient(#421977, #1e0044);
  border-radius: 20px ;
height: fit-content;
width: fit-content;
display: flex;
justify-content:center;
align-items: center;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
}

#tech{
  width: fit-content;
  flex-basis: 30%;
list-style-type: none;
transition: .3s;
}
img{
  height: auto;
  width: 90px;
}
#tech :hover{
  transform: scale(1.5);
  
}

footer{
  padding-top: 2rem;
  text-align: center;
}
footer p{
  font-family: Montserrat;
color: white;
}

.footer-socials{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  
}
.footer-socials img{
  margin-top: .5rem;
  width: 2rem;
  height: auto;
}

@media screen and (max-width:426px) {
  *{
    margin: 0rem 0rem 0rem 0rem;
  }
  #techno{
    margin: 0px;
    width: 100%;
  }
  .education{
    flex-direction: column;
    
  }
  #edu h1{
    padding: 2rem 1rem 0rem 1rem;
    font-size: 2.7rem;
    margin: 0rem;
  }
  #edu{
    text-align: center;
  }
  

  
  #secondary{
    margin: 0rem;
    gap: 0rem;
    flex-direction: column;
  }
  .minicard{
    text-align: center;
    width: 90%;
    padding: 1rem;
    margin: 1rem 0rem;
  }
  .minicard h1{
    font-size: 3rem;
  }
  .minicard p{
text-align: newspaper;
  }
  .namef h1 {
    margin: 0rem;
    width: 100%;
    font-size: 2.5rem;
   text-align: center;
  }
  #homepage {
  padding: 1rem;
  background-size: cover;
  margin: 0rem;
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .namefc h2 {
    margin: 0px;
    width: 100%;
  }
  .links {
    display: none;
    /* display: flex;
    gap: 60px;
    justify-content: center;
    padding: 20px; */
  }
  #aboutme{
    position:none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 92vw;    height: fit-content;
  }
  #aboutme p{
    font-family: Montserrat;
    font-size: .5rem;
    padding: 0px;
    width: 90%;
    margin: 1rem;
    word-spacing: 0px;
  }
  .aboutme{
    border-radius: 50px;
    width: 92vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icodiv {
  margin-top: 34rem;
  margin-left: 21.5rem;
    padding: 0px;
    flex-direction: row;
    gap: 4rem;
  }
  .pfp{
    z-index: 500;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pfp img{
    border-radius: 0px;
    width: 90%;
  }
  .about-text{
    text-align: center;
    width: 100%;
  }
  .about-text p{
    width: 100%;
    text-align: justify;
  }
 
  .normal {
    padding: 5px;
    position: absolute;
  
    color: #2f2e2f7f;
    font-family: Montserrat;
    font-size: 2.6rem;
    font-style: bold;
    font-weight: 800;

  }
  #edu{
    width: 92vw;
  }
  .cursive {
     position: relative; 
     margin: .8rem 2.5rem;
     color: #370164;
    text-shadow: #9c2ef5 1px 0 3px;
    font-size: 0.9rem;
    font-style: normal;
    letter-spacing: 10px;
    font-family: "Cedarville Cursive", cursive;
  } 
  .tech{
    flex-wrap: wrap;
  }
  #aboutme p {
  
    text-align: newspaper;}

    #uppercard{
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 6rem;
      align-items: center;
      text-align: center;
      font-family: Montserrat;
      flex-direction: column;
    }
.card{
  margin-bottom: 0px;
  width : 80%;
}
.projects{
margin-top: 1rem;
height: fit-content;

}

#card3{
  margin-bottom: 2rem;
}
.minicard h1{
  font-size: 2rem;
  font-weight: bold;
}
}

